ADMIN_PASSWORD=
ADMIN_SECRET=
ADMIN_USERNAME=
CARD_PAYMENT_NAME=
CARD_PAYMENT_NUMBER=
MINI_APP_URL=
SUPABASE_SECRET_KEY=
SUPABASE_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_PRODUCT_BROADCAST=
TELEGRAM_PRODUCT_CHAT_IDS=
VITE_API_URL=